img/wikiE3/soluzione_finale.json
[{"id":"f97ba2d9.392b98","type":"function","z":"2efdae27.c34342","name":"Prepare for Conversation","func":"msg.chatId = msg.originalMessage.chat.id;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":100,"wires":[["52f9e0af.5ea6"]]},{"id":"e041cc6e.b755d8","type":"telegram receiver","z":"2efdae27.c34342","name":"","bot":"fd083a56.b1bd6","saveDataDir":"","x":160,"y":60,"wires":[["f97ba2d9.392b98"],[]]},{"id":"52f9e0af.5ea6","type":"watson-conversation-v1","z":"2efdae27.c34342","name":"","workspaceid":"17457ca8-2e65-4cea-9d20-ed4ad5fe59b3","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-fra.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":140,"y":140,"wires":[["8317f3dd.2e19b"]]},{"id":"2fb8edef.cf9462","type":"telegram sender","z":"2efdae27.c34342","name":"","bot":"fd083a56.b1bd6","x":1420,"y":180,"wires":[[]]},{"id":"62c5a622.185288","type":"function","z":"2efdae27.c34342","name":"skip db","func":"msg.payload = {\n  chatId : msg.originalMessage.chat.id,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["2fb8edef.cf9462"]]},{"id":"295bcd7d.a03b02","type":"function","z":"2efdae27.c34342","name":"Clear assistant context","func":"msg.payload = \"reset\";\nmsg.params = {\n    context: {}\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":60,"wires":[["854b36b5.9ae358"]]},{"id":"854b36b5.9ae358","type":"watson-conversation-v1","z":"2efdae27.c34342","name":"General","workspaceid":"17457ca8-2e65-4cea-9d20-ed4ad5fe59b3","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-fra.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":1006,"y":60,"wires":[[]]},{"id":"8317f3dd.2e19b","type":"switch","z":"2efdae27.c34342","name":"action","property":"payload.context.action","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"read","vt":"str"},{"t":"eq","v":"write","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":130,"y":200,"wires":[["62c5a622.185288"],["77ea25a9.1fbdcc"],["53830f5.4ea9f7"]]},{"id":"8a48835c.c69b58","type":"function","z":"2efdae27.c34342","name":"temp_order answer","func":"if(msg.payload.length==0)\n{\n   msg.payload = {   \n  chatId : msg.originalMessage.chat.id,\n  type : \"message\",\n  content : \"Non ho ancora segnato nessun ordine. Indicami gentilmente una alla volta il tipo di pizza e la quantità corrispondente?\"\n }   \n}\nelse {\nvar answer = \"Al momento mi sono segnato\"    \nfor(i=0;i<msg.payload[0].ordine.length;i++) answer = answer +\"\\n\"+msg.payload[0].ordine[i].numero+\" \"+msg.payload[0].ordine[i].pizza;\n   msg.payload = {   \n  chatId : msg.originalMessage.chat.id,\n  type : \"message\",\n  content : answer+\"\\n Confermi il tuo ordine o vuoi annullare e ricominciare da capo?\"\n }\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":340,"wires":[["2fb8edef.cf9462"]]},{"id":"77ea25a9.1fbdcc","type":"switch","z":"2efdae27.c34342","name":"what - read","property":"payload.context.what","propertyType":"msg","rules":[{"t":"eq","v":"temp_order","vt":"str"},{"t":"eq","v":"final_order","vt":"str"},{"t":"eq","v":"menu","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":150,"y":371,"wires":[["9d91a235.6725c8"],["a190db20.e395"],["766dd1cd.643a6"]]},{"id":"53830f5.4ea9f7","type":"switch","z":"2efdae27.c34342","name":"what - write","property":"payload.context.what","propertyType":"msg","rules":[{"t":"eq","v":"temp_order","vt":"str"},{"t":"eq","v":"final_order","vt":"str"},{"t":"eq","v":"delete_final_order","vt":"str"},{"t":"eq","v":"delete_temp_order","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":150,"y":620,"wires":[["3865c657.c9f19a","62c5a622.185288"],["cb8a4d3.33f873","62c5a622.185288"],["62ab1b10.c91a8c"],["b8358896.a4a2f","62c5a622.185288"]]},{"id":"a32a5536.77da38","type":"function","z":"2efdae27.c34342","name":"write temp_order","func":"var ordine = [];\n\nif(msg.payload.length==0){\n// primo ordine temporaneo\nordine.push(msg.ordine);\nmsg.ordine=ordine;\nmsg.topic=\"temp_order\";\n}\nelse {\n// Esiste già un ordine temporaneo\nfor(var i=0;i<msg.payload[0].ordine.length;i++)\n{\n    ordine.push(msg.payload[0].ordine[i]);\n}    \nordine.push(msg.ordine);\nmsg.ordine=ordine;\nmsg.topic=\"temp_order\";\nmsg._id=msg.payload[0]._id;\nmsg._rev=msg.payload[0]._rev;    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":807,"y":557,"wires":[["b45dd342.6964c"]]},{"id":"f2cb3838.db343","type":"cloudant out","z":"2efdae27.c34342","name":"","cloudant":"d0121f0c.575858","database":"pizzeria_nando","service":"_ext_","payonly":false,"operation":"insert","x":1177,"y":557,"wires":[]},{"id":"68843fdb.db3d2","type":"function","z":"2efdae27.c34342","name":"menu answer","func":"var answer = \"Oggi abbiamo\"\nfor(i=0;i<msg.payload[0].data.length;i++) answer = answer +\", \"+msg.payload[0].data[i]; \n msg.payload = {   \n  chatId : msg.originalMessage.chat.id,\n  type : \"message\",\n  content : answer\n }\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":420,"wires":[["2fb8edef.cf9462"]]},{"id":"fe013982.404bd","type":"cloudant in","z":"2efdae27.c34342","name":"","cloudant":"9d9aec02.ff2138","database":"pizzeria_nando","service":"_ext_","search":"_idx_","design":"topicsearch","index":"topicSearch","x":617,"y":557,"wires":[["a32a5536.77da38"]]},{"id":"3865c657.c9f19a","type":"function","z":"2efdae27.c34342","name":"read temp_order","func":"msg.ordine = {\n    \"pizza\":msg.payload.context.pizze,\n    \"numero\":msg.payload.context.number,\n};\nmsg.payload=\"topicSearch:temp_order\";\nreturn msg;","outputs":1,"noerr":0,"x":405.7333984375,"y":557.6777877807617,"wires":[["fe013982.404bd"]]},{"id":"8d119490.7dd7b8","type":"inject","z":"2efdae27.c34342","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":60,"wires":[["295bcd7d.a03b02"]]},{"id":"b45dd342.6964c","type":"change","z":"2efdae27.c34342","name":"","rules":[{"t":"delete","p":"cloudant","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":997,"y":557,"wires":[["f2cb3838.db343"]]},{"id":"9d91a235.6725c8","type":"function","z":"2efdae27.c34342","name":"read temp_order","func":"msg.payload=\"topicSearch:temp_order\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["7c9aee19.5c9818"]]},{"id":"7c9aee19.5c9818","type":"cloudant in","z":"2efdae27.c34342","name":"","cloudant":"9d9aec02.ff2138","database":"pizzeria_nando","service":"_ext_","search":"_idx_","design":"topicsearch","index":"topicSearch","x":620,"y":340,"wires":[["8a48835c.c69b58"]]},{"id":"9ac2816a.5ed1c","type":"cloudant out","z":"2efdae27.c34342","name":"","cloudant":"d0121f0c.575858","database":"pizzeria_nando","service":"_ext_","payonly":false,"operation":"delete","x":1197,"y":680,"wires":[]},{"id":"b8358896.a4a2f","type":"function","z":"2efdae27.c34342","name":"read temp_order","func":"msg.payload=\"topicSearch:temp_order\";\nreturn msg;","outputs":1,"noerr":0,"x":407,"y":680,"wires":[["38727187.c4c06e"]]},{"id":"38727187.c4c06e","type":"cloudant in","z":"2efdae27.c34342","name":"","cloudant":"9d9aec02.ff2138","database":"pizzeria_nando","service":"_ext_","search":"_idx_","design":"topicsearch","index":"topicSearch","x":597,"y":680,"wires":[["9042a486.04cd3"]]},{"id":"9042a486.04cd3","type":"function","z":"2efdae27.c34342","name":"write temp_order","func":"msg._id=msg.payload[0]._id;\nmsg._rev=msg.payload[0]._rev;    \n\nreturn msg;","outputs":1,"noerr":0,"x":787,"y":680,"wires":[["34f89261.801fce"]]},{"id":"34f89261.801fce","type":"change","z":"2efdae27.c34342","name":"","rules":[{"t":"delete","p":"cloudant","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":997,"y":680,"wires":[["9ac2816a.5ed1c"]]},{"id":"198fe689.d07ee1","type":"cloudant in","z":"2efdae27.c34342","name":"","cloudant":"9d9aec02.ff2138","database":"pizzeria_nando","service":"_ext_","search":"_idx_","design":"topicsearch","index":"topicSearch","x":617,"y":601,"wires":[["d51d4130.6f2b7"]]},{"id":"cb8a4d3.33f873","type":"function","z":"2efdae27.c34342","name":"read temp_order","func":"msg.ordine = {\n    \"pizza\":msg.payload.context.pizze,\n    \"numero\":msg.payload.context.number,\n};\nmsg.payload=\"topicSearch:temp_order\";\nreturn msg;","outputs":1,"noerr":0,"x":405.7333984375,"y":601.6777877807617,"wires":[["198fe689.d07ee1"]]},{"id":"9aaba671.2ee9e8","type":"change","z":"2efdae27.c34342","name":"","rules":[{"t":"delete","p":"cloudant","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":976,"y":601,"wires":[["6344c3.330e0b3c"]]},{"id":"6344c3.330e0b3c","type":"cloudant out","z":"2efdae27.c34342","name":"","cloudant":"d0121f0c.575858","database":"pizzeria_nando","service":"_ext_","payonly":false,"operation":"insert","x":1176,"y":601,"wires":[]},{"id":"d51d4130.6f2b7","type":"function","z":"2efdae27.c34342","name":"write final_order","func":"msg.ordine=msg.payload[0].ordine;\nmsg.topic=\"final_order\";\nmsg._id=msg.payload[0]._id;\nmsg._rev=msg.payload[0]._rev;    \nreturn msg;","outputs":1,"noerr":0,"x":797,"y":601,"wires":[["9aaba671.2ee9e8"]]},{"id":"a190db20.e395","type":"function","z":"2efdae27.c34342","name":"read final_order","func":"msg.payload=\"topicSearch:final_order\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":380,"wires":[["42b22869.5d56a8"]]},{"id":"42b22869.5d56a8","type":"cloudant in","z":"2efdae27.c34342","name":"","cloudant":"9d9aec02.ff2138","database":"pizzeria_nando","service":"_ext_","search":"_idx_","design":"topicsearch","index":"topicSearch","x":620,"y":380,"wires":[["7f2a351b.bd341c"]]},{"id":"7f2a351b.bd341c","type":"function","z":"2efdae27.c34342","name":"final_order answer","func":"if(msg.payload.length==0)\n{\n   msg.payload = {   \n  chatId : msg.originalMessage.chat.id,\n  type : \"message\",\n  content : \"Non ho ancora concluso nessun ordine. Vuoi cominciare un ordine ora?\"\n }   \n}\nelse {\nvar answer = \"Al momento sono in fase di consegna i seguenti ordini\"    \nfor(k=0;k<msg.payload.length;k++)\n{\n    //orario non molto affidabile...\n    var norma=msg.payload[k].originalMessage.date-1545001074;\n    var ore =Math.floor(norma/3600);\n    var minuti=Math.floor((norma%3600)/60);\n    var secondi=(norma%3600)%60;\n    answer = answer +  \"\\n\"+msg.payload[k].originalMessage.chat.first_name+\" ha ordinato alle \"+ore+\":\"+minuti+\":\"+secondi;\n    for(i=0;i<msg.payload[k].ordine.length;i++) answer = answer +\"\\n\"+msg.payload[k].ordine[i].numero+\" \"+msg.payload[k].ordine[i].pizza;\n}\n   msg.payload = {   \n  chatId : msg.originalMessage.chat.id,\n  type : \"message\",\n  content : answer + \"\\n Vuoi creare un nuovo ordine?\"\n }\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":380,"wires":[["2fb8edef.cf9462"]]},{"id":"766dd1cd.643a6","type":"function","z":"2efdae27.c34342","name":"read menu","func":"msg.payload=\"topicSearch:menu\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["238c9474.b696fc"]]},{"id":"238c9474.b696fc","type":"cloudant in","z":"2efdae27.c34342","name":"","cloudant":"9d9aec02.ff2138","database":"pizzeria_nando","service":"_ext_","search":"_idx_","design":"topicsearch","index":"topicSearch","x":621.2666015625,"y":419.3222122192383,"wires":[["68843fdb.db3d2"]]},{"id":"a30262a0.0e32f8","type":"cloudant in","z":"2efdae27.c34342","name":"","cloudant":"9d9aec02.ff2138","database":"pizzeria_nando","service":"_ext_","search":"_idx_","design":"topicsearch","index":"topicSearch","x":617,"y":640,"wires":[["90134e5.2f00d3"]]},{"id":"62ab1b10.c91a8c","type":"function","z":"2efdae27.c34342","name":"read final_order","func":"msg.payload=\"topicSearch:final_order\";\nreturn msg;","outputs":1,"noerr":0,"x":395.7333984375,"y":640.6777877807617,"wires":[["a30262a0.0e32f8"]]},{"id":"90134e5.2f00d3","type":"function","z":"2efdae27.c34342","name":"Prepare list of _id","func":"var count = msg.payload.length;\nvar list = [];\nfor (i=0;i<count;i++) {\nlist.push({\n        _id: msg.payload[i]._id,\n        _rev: msg.payload[i]._rev,\n        _deleted: true\n    });\n}\n\nmsg.payload = {\n                \"docs\": \n                list\n               }\n               \nreturn msg;","outputs":1,"noerr":0,"x":827,"y":640,"wires":[["82820711.c016a"]]},{"id":"82820711.c016a","type":"http request","z":"2efdae27.c34342","name":"deleteDocs","method":"POST","ret":"obj","url":"https://34b1660e-83d3-46e6-aef6-40a1ae9b3b33-bluemix:b78ed6f15a795b94e8c873a3f79b021633e2c6085f1be9985a6788e402c71990@34b1660e-83d3-46e6-aef6-40a1ae9b3b33-bluemix.cloudantnosqldb.appdomain.cloud/pizzeria_nando/_bulk_docs","tls":"","x":1027,"y":640,"wires":[["35e33bb5.89279c"]]},{"id":"35e33bb5.89279c","type":"switch","z":"2efdae27.c34342","name":"check delete","property":"payload[0].ok","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1207,"y":640,"wires":[["313b655.cb64e1a"],[]]},{"id":"313b655.cb64e1a","type":"function","z":"2efdae27.c34342","name":"right delete","func":" msg.payload = {   \n  chatId : msg.originalMessage.chat.id,\n  type : \"message\",\n  content : \"Ho cancellato tutti i tuoi ordini, cosa posso fare per te ora?\"\n }\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":640,"wires":[["2fb8edef.cf9462"]]},{"id":"fd083a56.b1bd6","type":"telegram bot","z":"","botname":"WatsonExperimentsE3bot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"d0121f0c.575858","type":"cloudant","z":"","host":"https://34b1660e-83d3-46e6-aef6-40a1ae9b3b33-bluemix:b78ed6f15a795b94e8c873a3f79b021633e2c6085f1be9985a6788e402c71990@34b1660e-83d3-46e6-aef6-40a1ae9b3b33-bluemix.cloudantnosqldb.appdomain.cloud","name":"pizzeria_nando"},{"id":"9d9aec02.ff2138","type":"cloudant","z":"","host":"https://34b1660e-83d3-46e6-aef6-40a1ae9b3b33-bluemix:b78ed6f15a795b94e8c873a3f79b021633e2c6085f1be9985a6788e402c71990@34b1660e-83d3-46e6-aef6-40a1ae9b3b33-bluemix.cloudantnosqldb.appdomain.cloud","name":"pizzeria_nando"}]
