img/wikiE3/solution-part01.json
[{"id":"f97ba2d9.392b98","type":"function","z":"2efdae27.c34342","name":"Prepare for Conversation","func":"msg.chatId = msg.originalMessage.chat.id;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":100,"wires":[["52f9e0af.5ea6"]]},{"id":"e041cc6e.b755d8","type":"telegram receiver","z":"2efdae27.c34342","name":"","bot":"fd083a56.b1bd6","saveDataDir":"","x":160,"y":60,"wires":[["f97ba2d9.392b98"],[]]},{"id":"52f9e0af.5ea6","type":"watson-conversation-v1","z":"2efdae27.c34342","name":"","workspaceid":"17457ca8-2e65-4cea-9d20-ed4ad5fe59b3","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-fra.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":140,"y":140,"wires":[["8317f3dd.2e19b"]]},{"id":"2fb8edef.cf9462","type":"telegram sender","z":"2efdae27.c34342","name":"","bot":"fd083a56.b1bd6","x":1420,"y":180,"wires":[[]]},{"id":"62c5a622.185288","type":"function","z":"2efdae27.c34342","name":"skip db","func":"msg.payload = {\n  chatId : msg.originalMessage.chat.id,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["2fb8edef.cf9462"]]},{"id":"295bcd7d.a03b02","type":"function","z":"2efdae27.c34342","name":"Clear assistant context","func":"msg.payload = \"reset\";\nmsg.params = {\n    context: {}\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":60,"wires":[["854b36b5.9ae358"]]},{"id":"854b36b5.9ae358","type":"watson-conversation-v1","z":"2efdae27.c34342","name":"General","workspaceid":"17457ca8-2e65-4cea-9d20-ed4ad5fe59b3","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-fra.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":1006,"y":60,"wires":[[]]},{"id":"8317f3dd.2e19b","type":"switch","z":"2efdae27.c34342","name":"action","property":"payload.context.action","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"read","vt":"str"},{"t":"eq","v":"write","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":130,"y":200,"wires":[["62c5a622.185288"],["77ea25a9.1fbdcc"],["53830f5.4ea9f7"]]},{"id":"77ea25a9.1fbdcc","type":"switch","z":"2efdae27.c34342","name":"what - read","property":"payload.context.what","propertyType":"msg","rules":[{"t":"eq","v":"temp_order","vt":"str"},{"t":"eq","v":"final_order","vt":"str"},{"t":"eq","v":"menu","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":150,"y":371,"wires":[["1cfa2bd.f62be54"],["a7c79888.4ee758"],["56d1d93e.a29488"]]},{"id":"53830f5.4ea9f7","type":"switch","z":"2efdae27.c34342","name":"what - write","property":"payload.context.what","propertyType":"msg","rules":[{"t":"eq","v":"temp_order","vt":"str"},{"t":"eq","v":"final_order","vt":"str"},{"t":"eq","v":"delete_final_order","vt":"str"},{"t":"eq","v":"delete_temp_order","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":150,"y":620,"wires":[["62c5a622.185288","14159173.ddafef"],["62c5a622.185288","172b435.a49d43d"],["75ccaab6.0b30ec"],["62c5a622.185288","d05aacee.67c748"]]},{"id":"8d119490.7dd7b8","type":"inject","z":"2efdae27.c34342","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":60,"wires":[["295bcd7d.a03b02"]]},{"id":"1cfa2bd.f62be54","type":"debug","z":"2efdae27.c34342","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.context","x":500,"y":320,"wires":[]},{"id":"a7c79888.4ee758","type":"debug","z":"2efdae27.c34342","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.context","x":500,"y":360,"wires":[]},{"id":"56d1d93e.a29488","type":"debug","z":"2efdae27.c34342","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.context","x":500,"y":400,"wires":[]},{"id":"14159173.ddafef","type":"debug","z":"2efdae27.c34342","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.context","x":500,"y":560,"wires":[]},{"id":"172b435.a49d43d","type":"debug","z":"2efdae27.c34342","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.context","x":500,"y":600,"wires":[]},{"id":"75ccaab6.0b30ec","type":"debug","z":"2efdae27.c34342","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.context","x":500,"y":640,"wires":[]},{"id":"d05aacee.67c748","type":"debug","z":"2efdae27.c34342","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.context","x":500,"y":680,"wires":[]},{"id":"fd083a56.b1bd6","type":"telegram bot","z":"","botname":"WatsonExperimentsE3bot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"}]
