nodered-workspace/flow.json
[{"id":"35350893.de01d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1dd5570.da1128","type":"telegram sender","z":"35350893.de01d","name":"","bot":"e4b178c5.65c8c","x":1476.682502746582,"y":537.9524097442627,"wires":[[]]},{"id":"529d75f1.a7f6c4","type":"telegram receiver","z":"35350893.de01d","name":"","bot":"e4b178c5.65c8c","saveDataDir":"","x":101.82142639160156,"y":247.57142543792725,"wires":[["ed94abb3.8e8f4"],[]]},{"id":"ed94abb3.8e8f4","type":"switch","z":"35350893.de01d","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"photo","vt":"str"},{"t":"eq","v":"voice","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":194,"y":300,"wires":[["42ed9001.5d8d8"],["d335ae8f.9cce8"],["2db29ef5.e0499a"]]},{"id":"42ed9001.5d8d8","type":"function","z":"35350893.de01d","name":"F3 - Init Vrec","func":"/* Function3.js\n * Prepare Visual Recognition Telegram bot\n * v 1.0\n * November 2018\n */\n\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\nreturn msg;\n","outputs":1,"noerr":0,"x":356.7142868041992,"y":230.8571605682373,"wires":[["10714551.2ddc83"]]},{"id":"2db29ef5.e0499a","type":"function","z":"35350893.de01d","name":"F1 - Init bot","func":"/* Function1.js\n * Initialize Telegram bot messages\n * v 1.0\n * November 2018\n */\n\nmsg.chatId = msg.payload.chatId;\nmsg.user = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;\n","outputs":1,"noerr":0,"x":355.2856330871582,"y":443.5714282989502,"wires":[["a870e0e0.b7d77"]]},{"id":"a870e0e0.b7d77","type":"watson-conversation-v1","z":"35350893.de01d","name":"Assistant","workspaceid":"3279595b-fe25-4610-b9e5-31c389d0bfe1","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":442.1427803039551,"y":494.85714626312256,"wires":[["dda1e8ba.105f4"]]},{"id":"35dcfc3a.d69de4","type":"function","z":"35350893.de01d","name":"F9 - Response assistant","func":"/* Function9.js\n * Prepare message to be sent to Telegram bot\n * v 1.0\n * November 2018\n */\n\nvar outputMsg = \"\";\n\tif(msg.payload.output.text) {\n    \t\tfor(i=0;i<msg.payload.output.text.length;i++){\n        \t\t\toutputMsg += msg.payload.output.text[i] +\"\\n\"\n    \t\t}\n\t}\nmsg.payload = {\n  \tchatId : msg.chatId,\n  \ttype : \"message\",\n  \tcontent : outputMsg\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":739.6509284973145,"y":498.4523057937622,"wires":[["a1f6d915.239bc"]]},{"id":"3b48dd0c.4f6382","type":"function","z":"35350893.de01d","name":"F4 - Response Vrec","func":"/* Function4.js\n * Prepare response of Visual Recognition to Telegram bot\n * v 1.0\n * November 2018\n */\n\nmsg.payload = {\n  chatId: msg.chatId,\n  type: \"message\",\n  content: \"This is a \" + msg.result.images[0].classifiers[0].classes[0].class\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":659.7618179321289,"y":178.36901092529297,"wires":[["97933a5b.de60e"]]},{"id":"10714551.2ddc83","type":"visual-recognition-v3","z":"35350893.de01d","name":"Visualrec","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":471.5714340209961,"y":178.5714464187622,"wires":[["3b48dd0c.4f6382"]]},{"id":"59679411.05b2bc","type":"function","z":"35350893.de01d","name":"F5 - Init translator","func":"/* Function5.js\n * Prepare for Watson Translator to Telegram bot\n * v 1.0\n * November 2018\n */\n\n msg.srclang = getLanguage(msg.payload.context.source);\n msg.destlang = getLanguage(msg.payload.context.destination);\n msg.payload = msg.payload.input.text;\n\n return msg;\n\n function getLanguage(lang){\n   switch(lang){\n     case \"french\": \n        return \"fr\";\n     case \"italian\": \n        return \"it\";\n     case \"spanish\": \n        return \"es\";\n   }\n   return \"en\";\n }\n","outputs":1,"noerr":0,"x":607.1785736083984,"y":694.7499475479126,"wires":[["1c5ba5da.d8653a"]]},{"id":"ba683217.1bf5b","type":"function","z":"35350893.de01d","name":"F6 - Response translator","func":"/* Function6.js\n * Prepare response of Watson Translate to Telegram bot\n * v 1.0\n * November 2018\n */\n\nmsg.payload = {\n  chatId: msg.chatId,\n  type: \"message\",\n  content: msg.payload\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":1010.0794486999512,"y":748.3848915100098,"wires":[["e69057df.1ee2e8"]]},{"id":"3e1a22d.3302d5e","type":"function","z":"35350893.de01d","name":"F7 - Reset assistant","func":"/* Function7.js\n * Reset response after translation\n * v 1.0\n * November 2018\n */\n\nmsg.payload = \"Hi\";\nmsg.params = {\n  context: {}\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":999.1785583496094,"y":794.607120513916,"wires":[["4dd69e72.dc44b"]]},{"id":"1c5ba5da.d8653a","type":"watson-translator","z":"35350893.de01d","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"it","password":"","apikey":"CPK4iZ3YspS55rFq0xO6B3PRN45pn8FTq_a9kI23dlRg","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"it","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":737.8929061889648,"y":748.4641628265381,"wires":[["ba683217.1bf5b","3e1a22d.3302d5e","1845b8d4.685f37"]]},{"id":"4dd69e72.dc44b","type":"watson-conversation-v1","z":"35350893.de01d","name":"Assistant","workspaceid":"3279595b-fe25-4610-b9e5-31c389d0bfe1","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":1190.6071395874023,"y":795.3213348388672,"wires":[[]]},{"id":"dda1e8ba.105f4","type":"switch","z":"35350893.de01d","name":"","property":"payload.context.action","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"translate","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":508.4999084472656,"y":553.2499904632568,"wires":[["1845b8d4.685f37","35dcfc3a.d69de4"],["59679411.05b2bc"]]},{"id":"1a9585ca.0d3b1a","type":"watson-speech-to-text","z":"35350893.de01d","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"","langhidden":"","langcustom":"","langcustomhidden":"","band":"","bandhidden":"","password":"","apikey":"qwd1iHkdULXwh6ids9T2tDyh0FOPZbg8oIQJmEnsGouu","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":486.07142639160156,"y":350.7896366119385,"wires":[["2db29ef5.e0499a"]]},{"id":"d335ae8f.9cce8","type":"function","z":"35350893.de01d","name":"F2 - Init in audio","func":"msg.model = \"en-US_BroadbandModel\";\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":300,"wires":[["1a9585ca.0d3b1a"]]},{"id":"a18b2e6d.0e17a","type":"watson-text-to-speech","z":"35350893.de01d","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/ogg; codecs=opus","password":"","apikey":"lDB1gU8_-esaTacTof2ui7ZIJciybV5_he9sttF70Y3W","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1145.910514831543,"y":595.9285898208618,"wires":[["f7f39d40.324e9"]]},{"id":"1845b8d4.685f37","type":"template","z":"35350893.de01d","name":"Prepare text to speech out","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.output.text}}}","output":"str","x":1108.5890731811523,"y":646.1428909301758,"wires":[["a18b2e6d.0e17a"]]},{"id":"f7f39d40.324e9","type":"function","z":"35350893.de01d","name":"F8 - Response audio out","func":"/* Function8.js\n * Prepare output audio message to be sent to Telegram bot\n * v 1.0\n * November 2018\n */\n\nmsg.payload = {\n  \tchatId : msg.chatId,\n  \ttype : \"voice\",\n  \tcontent : msg.speech\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":1230.821216583252,"y":538.1428861618042,"wires":[["f1dd5570.da1128"]]},{"id":"97933a5b.de60e","type":"telegram sender","z":"35350893.de01d","name":"","bot":"e4b178c5.65c8c","x":1482.8571510314941,"y":182.85715675354004,"wires":[[]]},{"id":"a1f6d915.239bc","type":"telegram sender","z":"35350893.de01d","name":"","bot":"e4b178c5.65c8c","x":1485.7143325805664,"y":334.2857303619385,"wires":[[]]},{"id":"e69057df.1ee2e8","type":"telegram sender","z":"35350893.de01d","name":"","bot":"e4b178c5.65c8c","x":1474.2857666015625,"y":747.1428833007812,"wires":[[]]},{"id":"e4b178c5.65c8c","type":"telegram bot","z":"","botname":"OnlineShopAssistant_Bot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"}]
