nodered-workspace/flow.json
[{"id":"35350893.de01d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1dd5570.da1128","type":"telegram sender","z":"35350893.de01d","name":"","bot":"e4b178c5.65c8c","x":1330.6112060546875,"y":284.9166564941406,"wires":[[]]},{"id":"529d75f1.a7f6c4","type":"telegram receiver","z":"35350893.de01d","name":"","bot":"e4b178c5.65c8c","saveDataDir":"","x":112,"y":249,"wires":[["ed94abb3.8e8f4"],[]]},{"id":"ed94abb3.8e8f4","type":"switch","z":"35350893.de01d","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"photo","vt":"str"},{"t":"eq","v":"voice","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":194,"y":300,"wires":[["42ed9001.5d8d8"],["d335ae8f.9cce8"],["2db29ef5.e0499a"]]},{"id":"42ed9001.5d8d8","type":"function","z":"35350893.de01d","name":"F3 - Init Vrec","func":"/* Function3.js\n * Prepare Visual Recognition Telegram bot\n * v 1.0\n * November 2018\n */\n\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\nreturn msg;\n","outputs":1,"noerr":0,"x":361,"y":238,"wires":[["10714551.2ddc83"]]},{"id":"2db29ef5.e0499a","type":"function","z":"35350893.de01d","name":"F1 - Init bot","func":"/* Function1.js\n * Initialize Telegram bot messages\n * v 1.0\n * November 2018\n */\n\nmsg.chatId = msg.payload.chatId;\nmsg.user = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;\n","outputs":1,"noerr":0,"x":361,"y":365,"wires":[["a870e0e0.b7d77"]]},{"id":"a870e0e0.b7d77","type":"watson-conversation-v1","z":"35350893.de01d","name":"Assistant","workspaceid":"3279595b-fe25-4610-b9e5-31c389d0bfe1","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":445,"y":422,"wires":[["dda1e8ba.105f4"]]},{"id":"35dcfc3a.d69de4","type":"function","z":"35350893.de01d","name":"F9 - Response assistant","func":"/* Function9.js\n * Prepare message to be sent to Telegram bot\n * v 1.0\n * November 2018\n */\n\nvar outputMsg = \"\";\n\tif(msg.payload.output.text) {\n    \t\tfor(i=0;i<msg.payload.output.text.length;i++){\n        \t\t\toutputMsg += msg.payload.output.text[i] +\"\\n\"\n    \t\t}\n\t}\nmsg.payload = {\n  \tchatId : msg.chatId,\n  \ttype : \"message\",\n  \tcontent : outputMsg\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":938.2222900390625,"y":404.1666564941406,"wires":[["f1dd5570.da1128"]]},{"id":"3b48dd0c.4f6382","type":"function","z":"35350893.de01d","name":"F4 - Response Vrec","func":"/* Function4.js\n * Prepare response of Visual Recognition to Telegram bot\n * v 1.0\n * November 2018\n */\n\nmsg.payload = {\n  chatId: msg.chatId,\n  type: \"message\",\n  content: \"This is a \" + msg.result.images[0].classifiers[0].classes[0].class\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":918.3333740234375,"y":354.0833435058594,"wires":[["f1dd5570.da1128"]]},{"id":"10714551.2ddc83","type":"visual-recognition-v3","z":"35350893.de01d","name":"Visualrec","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":473,"y":180,"wires":[["3b48dd0c.4f6382"]]},{"id":"59679411.05b2bc","type":"function","z":"35350893.de01d","name":"F5 - Init translator","func":"/* Function5.js\n * Prepare for Watson Translator to Telegram bot\n * v 1.0\n * November 2018\n */\n\n msg.srclang = getLanguage(msg.payload.context.source);\n msg.destlang = getLanguage(msg.payload.context.destination);\n msg.payload = msg.payload.input.text;\n\n return msg;\n\n function getLanguage(lang){\n   switch(lang){\n     case \"french\": \n        return \"fr\";\n     case \"italian\": \n        return \"it\";\n     case \"spanish\": \n        return \"es\";\n   }\n   return \"en\";\n }\n","outputs":1,"noerr":0,"x":637,"y":501,"wires":[["1c5ba5da.d8653a"]]},{"id":"ba683217.1bf5b","type":"function","z":"35350893.de01d","name":"F6 - Response translator","func":"/* Function6.js\n * Prepare response of Watson Translate to Telegram bot\n * v 1.0\n * November 2018\n */\n\nmsg.payload = {\n  chatId: msg.chatId,\n  type: \"message\",\n  content: msg.payload\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":937.2222290039062,"y":455.52777099609375,"wires":[["f1dd5570.da1128"]]},{"id":"3e1a22d.3302d5e","type":"function","z":"35350893.de01d","name":"F7 - Reset assistant","func":"/* Function7.js\n * Reset response after translation\n * v 1.0\n * November 2018\n */\n\nmsg.payload = \"Hi\";\nmsg.params = {\n  context: {}\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":869,"y":618,"wires":[["4dd69e72.dc44b"]]},{"id":"1c5ba5da.d8653a","type":"watson-translator","z":"35350893.de01d","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"it","password":"","apikey":"CPK4iZ3YspS55rFq0xO6B3PRN45pn8FTq_a9kI23dlRg","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"it","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":712,"y":559,"wires":[["ba683217.1bf5b","3e1a22d.3302d5e"]]},{"id":"4dd69e72.dc44b","type":"watson-conversation-v1","z":"35350893.de01d","name":"Assistant","workspaceid":"3279595b-fe25-4610-b9e5-31c389d0bfe1","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":909,"y":673,"wires":[[]]},{"id":"dda1e8ba.105f4","type":"switch","z":"35350893.de01d","name":"","property":"payload.context.action","propertyType":"msg","rules":[{"t":"eq","v":"translate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":586,"y":447,"wires":[["59679411.05b2bc"],["1845b8d4.685f37"]]},{"id":"1a9585ca.0d3b1a","type":"watson-speech-to-text","z":"35350893.de01d","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"","langhidden":"","langcustom":"","langcustomhidden":"","band":"","bandhidden":"","password":"","apikey":"qwd1iHkdULXwh6ids9T2tDyh0FOPZbg8oIQJmEnsGouu","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":587.5,"y":299.361083984375,"wires":[[]]},{"id":"88e77052.59ee5","type":"debug","z":"35350893.de01d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":560.0555725097656,"y":251.22222900390625,"wires":[]},{"id":"d335ae8f.9cce8","type":"function","z":"35350893.de01d","name":"F2 - Init in audio","func":"msg.model = \"en-US_BroadbandModel\";\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":300,"wires":[["1a9585ca.0d3b1a","88e77052.59ee5"]]},{"id":"a18b2e6d.0e17a","type":"watson-text-to-speech","z":"35350893.de01d","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"","format":"audio/ogg; codecs=opus","password":"","apikey":"lDB1gU8_-esaTacTof2ui7ZIJciybV5_he9sttF70Y3W","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1192.875,"y":508.25,"wires":[["f7f39d40.324e9"]]},{"id":"1845b8d4.685f37","type":"template","z":"35350893.de01d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.output.text}}}","output":"str","x":987.625,"y":507,"wires":[["2e837d8a.15ec52","a18b2e6d.0e17a"]]},{"id":"f7f39d40.324e9","type":"function","z":"35350893.de01d","name":"F8 - Response audio out","func":"/* Function8.js\n * Prepare output audio message to be sent to Telegram bot\n * v 1.0\n * November 2018\n */\n\nmsg.payload = {\n  \tchatId : msg.chatId,\n  \ttype : \"audio\",\n  \tcontent : msg.speech\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":1222.25,"y":453.5,"wires":[["f1dd5570.da1128"]]},{"id":"2e837d8a.15ec52","type":"debug","z":"35350893.de01d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1183.125,"y":562.5,"wires":[]},{"id":"e4b178c5.65c8c","type":"telegram bot","z":"","botname":"OnlineShopAssistant_Bot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"}]
