nodered-workspace/flow.json
[{"id":"50e10299.2444d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3e136e30.e63982","type":"telegram sender","z":"50e10299.2444d4","name":"","bot":"81a41a29.dd9d08","x":1356.6824493408203,"y":596.5238008499146,"wires":[[]]},{"id":"be1e7ae4.56fc8","type":"telegram receiver","z":"50e10299.2444d4","name":"","bot":"81a41a29.dd9d08","saveDataDir":"","x":104.6785659790039,"y":229.00000190734863,"wires":[["7a4ff020.96c168"],[]]},{"id":"7a4ff020.96c168","type":"switch","z":"50e10299.2444d4","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"photo","vt":"str"},{"t":"eq","v":"voice","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":194,"y":300,"wires":[["14155d5a.52396b"],["bc340b4d.e923f8"],["5d4367c0.bfe928"]]},{"id":"14155d5a.52396b","type":"function","z":"50e10299.2444d4","name":"F3 - Init Vrec","func":"/* Function3.js\n * Prepare Visual Recognition Telegram bot\n * v 1.0\n * November 2018\n */\n\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\nreturn msg;\n","outputs":1,"noerr":0,"x":356.7142868041992,"y":195.8571605682373,"wires":[["e6fae75f.f1e26"]]},{"id":"5d4367c0.bfe928","type":"function","z":"50e10299.2444d4","name":"F1 - Init bot","func":"/* Function1.js\n * Initialize Telegram bot messages\n * v 1.0\n * November 2018\n */\n\nmsg.chatId = msg.payload.chatId;\nmsg.user = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;\n","outputs":1,"noerr":0,"x":355.2856330871582,"y":473.5714282989502,"wires":[["df23f542.eb9c4"]]},{"id":"df23f542.eb9c4","type":"watson-conversation-v1","z":"50e10299.2444d4","name":"Assistant","workspaceid":"3279595b-fe25-4610-b9e5-31c389d0bfe1","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":442.1427803039551,"y":524.8571462631226,"wires":[["f1ab3e69.ff4c38"]]},{"id":"2887ff5c.9d53c8","type":"function","z":"50e10299.2444d4","name":"F9 - Response assistant","func":"/* Function9.js\n * Prepare message to be sent to Telegram bot\n * v 1.0\n * November 2018\n */\n\nvar outputMsg = \"\";\n\tif(msg.payload.output.text) {\n    \t\tfor(i=0;i<msg.payload.output.text.length;i++){\n        \t\t\toutputMsg += msg.payload.output.text[i] +\"\\n\"\n    \t\t}\n\t}\nmsg.payload = {\n  \tchatId : msg.chatId,\n  \ttype : \"message\",\n  \tcontent : outputMsg\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":735.3652267456055,"y":469.8808898925781,"wires":[["b45bb65.3928b48"]]},{"id":"5d5d0d44.0af044","type":"function","z":"50e10299.2444d4","name":"F4 - Response Vrec","func":"/* Function4.js\n * Prepare response of Visual Recognition to Telegram bot\n * v 1.0\n * November 2018\n */\n\nmsg.payload = {\n  chatId: msg.chatId,\n  type: \"message\",\n  content: \"This is a \" + msg.result.images[0].classifiers[0].classes[0].class\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":659.7618179321289,"y":143.36901092529297,"wires":[["4041f495.8b0f2c"]]},{"id":"e6fae75f.f1e26","type":"visual-recognition-v3","z":"50e10299.2444d4","name":"Visualrec","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":471.5714340209961,"y":143.5714464187622,"wires":[["5d5d0d44.0af044"]]},{"id":"ad5d8d84.6acdd","type":"function","z":"50e10299.2444d4","name":"F5 - Init translator","func":"/* Function5.js\n * Prepare for Watson Translator to Telegram bot\n * v 1.0\n * November 2018\n */\n\n msg.srclang = getLanguage(msg.payload.context.source);\n msg.destlang = getLanguage(msg.payload.context.destination);\n msg.payload = msg.payload.input.text;\n\n return msg;\n\n function getLanguage(lang){\n   switch(lang){\n     case \"french\": \n        return \"fr\";\n     case \"italian\": \n        return \"it\";\n     case \"spanish\": \n        return \"es\";\n   }\n   return \"en\";\n }\n","outputs":1,"noerr":0,"x":607.1785736083984,"y":800.7499475479126,"wires":[["cb921f28.271a8"]]},{"id":"3513ffc4.e9ec2","type":"function","z":"50e10299.2444d4","name":"F6 - Response translator","func":"/* Function6.js\n * Prepare response of Watson Translate to Telegram bot\n * v 1.0\n * November 2018\n */\n\nmsg.payload = {\n  chatId: msg.chatId,\n  type: \"message\",\n  content: msg.payload\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":1010.0794486999512,"y":854.3848915100098,"wires":[["f9ba150.2876be8"]]},{"id":"5199825b.265114","type":"function","z":"50e10299.2444d4","name":"F7 - Reset assistant","func":"/* Function7.js\n * Reset response after translation\n * v 1.0\n * November 2018\n */\n\nmsg.payload = \"Hi\";\nmsg.params = {\n  context: {}\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":999.1785583496094,"y":900.607120513916,"wires":[["2e1614bf.e7c7f4"]]},{"id":"cb921f28.271a8","type":"watson-translator","z":"50e10299.2444d4","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"it","password":"","apikey":"CPK4iZ3YspS55rFq0xO6B3PRN45pn8FTq_a9kI23dlRg","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"it","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":737.8929061889648,"y":854.4641628265381,"wires":[["3513ffc4.e9ec2","5199825b.265114","4843ae91.0a0bd8"]]},{"id":"2e1614bf.e7c7f4","type":"watson-conversation-v1","z":"50e10299.2444d4","name":"Assistant","workspaceid":"3279595b-fe25-4610-b9e5-31c389d0bfe1","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":1190.6071395874023,"y":901.3213348388672,"wires":[[]]},{"id":"f1ab3e69.ff4c38","type":"switch","z":"50e10299.2444d4","name":"","property":"payload.context.action","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"translate","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":508.4999084472656,"y":583.2499904632568,"wires":[["4843ae91.0a0bd8","2887ff5c.9d53c8"],["ad5d8d84.6acdd"]]},{"id":"22965015.429988","type":"watson-speech-to-text","z":"50e10299.2444d4","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"","langhidden":"","langcustom":"","langcustomhidden":"","band":"","bandhidden":"","password":"","apikey":"qwd1iHkdULXwh6ids9T2tDyh0FOPZbg8oIQJmEnsGouu","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":486.07142639160156,"y":350.7896366119385,"wires":[["656d8729.b7945"]]},{"id":"bc340b4d.e923f8","type":"function","z":"50e10299.2444d4","name":"F2 - Init in audio","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.buffer;\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":300,"wires":[["22965015.429988","fb4d4159.4c042"]]},{"id":"9d2be0a2.adfd9","type":"watson-text-to-speech","z":"50e10299.2444d4","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/ogg; codecs=opus","password":"","apikey":"lDB1gU8_-esaTacTof2ui7ZIJciybV5_he9sttF70Y3W","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1028.7676620483398,"y":653.0714321136475,"wires":[["4f2d56d7.e638d"]]},{"id":"4843ae91.0a0bd8","type":"template","z":"50e10299.2444d4","name":"Prepare text to speech out","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.output.text}}}","output":"str","x":988.5890197753906,"y":704.7142820358276,"wires":[["9d2be0a2.adfd9"]]},{"id":"4f2d56d7.e638d","type":"function","z":"50e10299.2444d4","name":"F8 - Response audio out","func":"/* Function8.js\n * Prepare output audio message to be sent to Telegram bot\n * v 1.0\n * November 2018\n */\n\nmsg.payload = {\n  \tchatId : msg.chatId,\n  \ttype : \"voice\",\n  \tcontent : msg.speech\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":1110.8211631774902,"y":596.714277267456,"wires":[["3e136e30.e63982"]]},{"id":"4041f495.8b0f2c","type":"telegram sender","z":"50e10299.2444d4","name":"","bot":"81a41a29.dd9d08","x":874.285758972168,"y":145.00002574920654,"wires":[[]]},{"id":"b45bb65.3928b48","type":"telegram sender","z":"50e10299.2444d4","name":"","bot":"81a41a29.dd9d08","x":972.8571472167969,"y":470.00002670288086,"wires":[[]]},{"id":"f9ba150.2876be8","type":"telegram sender","z":"50e10299.2444d4","name":"","bot":"81a41a29.dd9d08","x":1354.285743713379,"y":854.5714836120605,"wires":[[]]},{"id":"656d8729.b7945","type":"function","z":"50e10299.2444d4","name":"F10 - Response transcription","func":"/* Function10.js\n * Prepare output transcription to be sent to Telegram bot\n * v 1.0\n * November 2018\n */\n\nmsg.payload = {\n  \tchatId : msg.chatId,\n  \ttype : \"message\",\n  \tcontent : msg.transcription\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":720,"y":300,"wires":[["489b817a.9aca78"]]},{"id":"489b817a.9aca78","type":"telegram sender","z":"50e10299.2444d4","name":"","bot":"81a41a29.dd9d08","x":980,"y":300,"wires":[[]]},{"id":"fb4d4159.4c042","type":"debug","z":"50e10299.2444d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":240,"wires":[]},{"id":"81a41a29.dd9d08","type":"telegram bot","z":"","botname":"OnlineShopAssistant_Bot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"}]
