img/wikiE2/finalsolution.json
[{"id":"7eb197e3.17f72","type":"subflow","name":"Subflow 2","info":"","in":[{"x":180,"y":340,"wires":[{"id":"d60bbe56.64b0d"}]}],"out":[{"x":580,"y":380,"wires":[{"id":"a611227a.3a9108","port":0}]}]},{"id":"d60bbe56.64b0d","type":"visual-recognition-v3","z":"7eb197e3.17f72","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":350,"y":340,"wires":[["a611227a.3a9108"]]},{"id":"a611227a.3a9108","type":"function","z":"7eb197e3.17f72","name":"Format IBM Visual Rec result","func":"var visual_result = [];\n\n// format ibm output to be readable by multireport function\nfor(var i=0;i<msg.result.images[0].classifiers[0].classes.length;i++)\n{\n    visual_result.push({\"class\":msg.result.images[0].classifiers[0].classes[i].class, \"score\":msg.result.images[0].classifiers[0].classes[i].score, \"type\": \"IBM\"});\n}\n\n// sort from the highest score to the lowest one\nvisual_result.sort(function(a, b){return b.score - a.score});\nmsg.payload = visual_result;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":380,"wires":[[]]},{"id":"ae64c480.8f202","type":"subflow","name":"Subflow 4","info":"","in":[{"x":180,"y":680,"wires":[{"id":"34bfb1b5.57991e"}]}],"out":[{"x":600,"y":760,"wires":[{"id":"5168fb12.fc047c","port":0}]}]},{"id":"34bfb1b5.57991e","type":"function","z":"ae64c480.8f202","name":"Request to Microsoft Vision API","func":"\nmsg.url = \"https://northeurope.api.cognitive.microsoft.com/vision/v1.0/analyze\";\nmsg.headers = {\n                \"Content-Type\": \"application/json\",\n                \"Ocp-Apim-Subscription-Key\": \"5ff1fb2bada146e89c502e21487a4b8f\"\n};\nmsg.payload = {url: msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":680,"wires":[["65ce3805.87778"]]},{"id":"65ce3805.87778","type":"http request","z":"ae64c480.8f202","name":"Send a request to get labels","method":"POST","ret":"obj","url":"","tls":"","x":380,"y":720,"wires":[["5168fb12.fc047c"]]},{"id":"5168fb12.fc047c","type":"function","z":"ae64c480.8f202","name":"Format Microsoft Vision result","func":"var visual_result = [];\n\n// format ibm output to be readable by multireport function\nfor(var i=0;i<msg.payload.categories.length;i++)\n{\n    visual_result.push({\"class\":msg.payload.categories[i].name, \"score\":msg.payload.categories[i].score, \"type\": \"Microsoft\"});\n}\n\n// sort from the highest score to the lowest one\nvisual_result.sort(function(a, b){return b.score - a.score});\nmsg.payload = visual_result;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":760,"wires":[[]]},{"id":"5195b254.b9e9bc","type":"comment","z":"ae64c480.8f202","name":"Microsoft API call instructions","info":"How to do an API call\nhttps://northeurope.dev.cognitive.microsoft.com/docs/services/56f91f2d778daf23d8ec6739/operations/56f91f2e778daf14a499e1fa/console\n\n\nAzure access\nhttps://azure.microsoft.com/it-it/","x":380,"y":640,"wires":[]},{"id":"3343ffe2.595f7","type":"subflow","name":"Subflow 3","info":"","in":[{"x":240,"y":180,"wires":[{"id":"cca17f42.5bfeb8"}]}],"out":[{"x":580,"y":260,"wires":[{"id":"7b94cee6.3d523","port":0}]}]},{"id":"cca17f42.5bfeb8","type":"function","z":"3343ffe2.595f7","name":"Request to Google Vision API","func":"//var image = {content: msg.payload.toString('base64')};\nvar image = \n{\n        \"source\":{\n          \"imageUri\":\n            msg.payload\n        }\n      };\nvar features = {type: 'LABEL_DETECTION', maxResults: 10};\nvar imageContext = {languageHints: 'ja'};\nvar request = {image: image, features: features, imageContext: imageContext};\nvar requests = {requests: request};\n\n\nmsg.url = \"https://vision.googleapis.com/v1/images:annotate?key=AIzaSyDVD4-_EML_GzMteHEFIysQGEFXtLjaEoQ\";\nmsg.headers = {\n                \"Content-Type\": \"application/json\"\n};\nmsg.payload = requests;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["683d08b9.c35b78"]]},{"id":"683d08b9.c35b78","type":"http request","z":"3343ffe2.595f7","name":"Send a request to get labels","method":"POST","ret":"obj","url":"","tls":"","x":440,"y":220,"wires":[["7b94cee6.3d523"]]},{"id":"7b94cee6.3d523","type":"function","z":"3343ffe2.595f7","name":"Report found labels","func":"var visual_result = [];\nvar classe;\nvar score;\nvar index;\n\n// format google output to be readable by multireport function\nfor(var i=0;i<msg.payload.responses[0].labelAnnotations.length;i++)\n{\n    visual_result.push({\"class\":msg.payload.responses[0].labelAnnotations[i].description, \"score\":msg.payload.responses[0].labelAnnotations[i].score, \"type\": \"Google\"})\n}\n\n// sort from the highest score to the lowest one\nvisual_result.sort(function(a, b){return b.score - a.score});\nmsg.payload = visual_result;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[[]]},{"id":"36351d66.edfd72","type":"comment","z":"3343ffe2.595f7","name":"Google API call istructions","info":"Google Cloud\nhttps://cloud.google.com\n\nGoogle API call\nhttps://cloud.google.com/vision/docs/request\n\nGoogle API authentication\nhttps://cloud.google.com/vision/docs/auth","x":430,"y":140,"wires":[]},{"id":"c2cf025d.242bc","type":"http in","z":"d1ed293e.94fbb8","name":"","url":"/VisualRec","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["4ebf4c86.c1cfec","8dc6df7.6ddaf2"]]},{"id":"38d3f227.b59c1e","type":"http response","z":"d1ed293e.94fbb8","name":"HTTP Response","statusCode":"","headers":{},"x":860,"y":160,"wires":[]},{"id":"4ebf4c86.c1cfec","type":"switch","z":"d1ed293e.94fbb8","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":172,"y":154,"wires":[["4a228289.0314cc"],["fb22cb68.5f70f"]]},{"id":"4a228289.0314cc","type":"template","z":"d1ed293e.94fbb8","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n    <h2>Select an image URL</h2>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <div id=\"imagelist\">\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/1.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/2.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/3.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/4.jpg\" height='100'/>\n        </div>\n        <br/>Copy above image location URL or enter any image URL:<br/>\n        <input type=\"text\" name=\"imageurl\"/>\n        <input type=\"submit\" value=\"Analyze\"/>\n    </form>\n\n</body>\n</html>","output":"str","x":620,"y":140,"wires":[["38d3f227.b59c1e"]]},{"id":"3ffea4b3.cdf91c","type":"join","z":"d1ed293e.94fbb8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":360,"wires":[["91e997fd.221388"]]},{"id":"91e997fd.221388","type":"template","z":"d1ed293e.94fbb8","name":"Visual Recognition report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition Vs. Google Vision Vs. Microsoft on Node-RED</title></head>\n<body>\n<h1>Watson Visual Recognition Vs. Google Vision on Node-RED</h1>\n<p>Analyzed image: {{urlimage}}<br/><img src=\"{{imageurl}}\" height='100'/></p>\n\n<table border='1' style=\"display: inline-block;\">\n    <thead><tr><th>Name with {{payload.0.0.type}}</th><th>Score with {{payload.0.0.type}}</th></tr></thead>\n{{#payload.0}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/payload.0}}\n</table>\n\n<table border='1' style=\"display: inline-block;\">\n    <thead><tr><th>Name with {{payload.1.0.type}}</th><th>Score with {{payload.1.0.type}}</th></tr></thead>\n{{#payload.1}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/payload.1}}\n</table>\n\n<table border='1' style=\"display: inline-block;\">\n    <thead><tr><th>Name with {{payload.2.0.type}}</th><th>Score with {{payload.2.0.type}}</th></tr></thead>\n{{#payload.2}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/payload.2}}\n</table>\n\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>","output":"str","x":590,"y":220,"wires":[["38d3f227.b59c1e"]]},{"id":"8dc6df7.6ddaf2","type":"debug","z":"d1ed293e.94fbb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":100,"wires":[]},{"id":"fb22cb68.5f70f","type":"function","z":"d1ed293e.94fbb8","name":"Save imageurl","func":"var imageurl = msg.payload.imageurl;\nmsg.payload = imageurl;\nmsg.imageurl = imageurl;\nreturn msg;","outputs":1,"noerr":0,"x":152,"y":214,"wires":[["e6cdf96f.a7b778","c5edd59.7b3cfa8","fcc37dae.de82a8"]]},{"id":"c5edd59.7b3cfa8","type":"subflow:3343ffe2.595f7","z":"d1ed293e.94fbb8","name":"Google Vision API request","x":305,"y":360,"wires":[["3ffea4b3.cdf91c"]]},{"id":"fcc37dae.de82a8","type":"subflow:ae64c480.8f202","z":"d1ed293e.94fbb8","name":"Microsoft Vision API request","x":315,"y":400,"wires":[["3ffea4b3.cdf91c"]]},{"id":"e6cdf96f.a7b778","type":"subflow:7eb197e3.17f72","z":"d1ed293e.94fbb8","name":"IBM Vision API request","x":300,"y":320,"wires":[["3ffea4b3.cdf91c"]]}]
