img/wikiE2/partialSolution.json
[{"id":"c2cf025d.242bc","type":"http in","z":"d1ed293e.94fbb8","name":"","url":"/VisualRec","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["4ebf4c86.c1cfec","8dc6df7.6ddaf2"]]},{"id":"38d3f227.b59c1e","type":"http response","z":"d1ed293e.94fbb8","name":"HTTP Response","statusCode":"","headers":{},"x":860,"y":160,"wires":[]},{"id":"4ebf4c86.c1cfec","type":"switch","z":"d1ed293e.94fbb8","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":172,"y":154,"wires":[["4a228289.0314cc"],["fb22cb68.5f70f"]]},{"id":"4a228289.0314cc","type":"template","z":"d1ed293e.94fbb8","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n    <h2>Select an image URL</h2>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <div id=\"imagelist\">\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/1.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/2.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/3.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/4.jpg\" height='100'/>\n        </div>\n        <br/>Copy above image location URL or enter any image URL:<br/>\n        <input type=\"text\" name=\"imageurl\"/>\n        <input type=\"submit\" value=\"Analyze\"/>\n    </form>\n\n</body>\n</html>","output":"str","x":620,"y":140,"wires":[["38d3f227.b59c1e"]]},{"id":"91e997fd.221388","type":"template","z":"d1ed293e.94fbb8","name":"Visual Recognition report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition Vs. Google Vision on Node-RED</title></head>\n<body>\n<h1>Watson Visual Recognition Vs. Google Vision on Node-RED</h1>\n<p>Analyzed image: {{urlimage}}<br/><img src=\"{{imageurl}}\" height='100'/></p>\n\n<table border='1' style=\"display: inline-block;\">\n    <thead><tr><th>Name with {{payload.0.0.type}}</th><th>Score with {{payload.0.0.type}}</th></tr></thead>\n{{#payload.0}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/payload.0}}\n</table>\n\n<table border='1' style=\"display: inline-block;\">\n    <thead><tr><th>Name with {{payload.1.0.type}}</th><th>Score with {{payload.1.0.type}}</th></tr></thead>\n{{#payload.1}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/payload.1}}\n</table>\n\n<table border='1' style=\"display: inline-block;\">\n    <thead><tr><th>Name with {{payload.2.0.type}}</th><th>Score with {{payload.2.0.type}}</th></tr></thead>\n{{#payload.2}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/payload.2}}\n</table>\n\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>","output":"str","x":590,"y":220,"wires":[["38d3f227.b59c1e"]]},{"id":"8dc6df7.6ddaf2","type":"debug","z":"d1ed293e.94fbb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":100,"wires":[]},{"id":"fb22cb68.5f70f","type":"function","z":"d1ed293e.94fbb8","name":"Save imageurl","func":"var imageurl = msg.payload.imageurl;\nmsg.payload = imageurl;\nmsg.imageurl = imageurl;\nreturn msg;","outputs":1,"noerr":0,"x":152,"y":214,"wires":[["91e997fd.221388"]]}]
