img/wikiE2/partialSolution2
[{"id":"c2cf025d.242bc","type":"http in","z":"d1ed293e.94fbb8","name":"","url":"/VisualRec","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["4ebf4c86.c1cfec","8dc6df7.6ddaf2"]]},{"id":"38d3f227.b59c1e","type":"http response","z":"d1ed293e.94fbb8","name":"HTTP Response","statusCode":"","headers":{},"x":860,"y":160,"wires":[]},{"id":"4ebf4c86.c1cfec","type":"switch","z":"d1ed293e.94fbb8","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":172,"y":154,"wires":[["4a228289.0314cc"],["fb22cb68.5f70f"]]},{"id":"4a228289.0314cc","type":"template","z":"d1ed293e.94fbb8","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n    <h2>Select an image URL</h2>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <div id=\"imagelist\">\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/1.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/2.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/3.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/4.jpg\" height='100'/>\n        </div>\n        <br/>Copy above image location URL or enter any image URL:<br/>\n        <input type=\"text\" name=\"imageurl\"/>\n        <input type=\"submit\" value=\"Analyze\"/>\n    </form>\n\n</body>\n</html>","output":"str","x":620,"y":140,"wires":[["38d3f227.b59c1e"]]},{"id":"91e997fd.221388","type":"template","z":"d1ed293e.94fbb8","name":"Visual Recognition report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition Vs. Google Vision Vs. Microsoft on Node-RED</title></head>\n<body>\n<h1>Watson Visual Recognition Vs. Google Vision on Node-RED</h1>\n<p>Analyzed image: {{urlimage}}<br/><img src=\"{{imageurl}}\" height='100'/></p>\n\n<table border='1' style=\"display: inline-block;\">\n    <thead><tr><th>Name with {{payload.0.0.type}}</th><th>Score with {{payload.0.0.type}}</th></tr></thead>\n{{#payload.0}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/payload.0}}\n</table>\n\n<table border='1' style=\"display: inline-block;\">\n    <thead><tr><th>Name with {{payload.1.0.type}}</th><th>Score with {{payload.1.0.type}}</th></tr></thead>\n{{#payload.1}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/payload.1}}\n</table>\n\n<table border='1' style=\"display: inline-block;\">\n    <thead><tr><th>Name with {{payload.2.0.type}}</th><th>Score with {{payload.2.0.type}}</th></tr></thead>\n{{#payload.2}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/payload.2}}\n</table>\n\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>","output":"str","x":590,"y":220,"wires":[["38d3f227.b59c1e"]]},{"id":"8dc6df7.6ddaf2","type":"debug","z":"d1ed293e.94fbb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":100,"wires":[]},{"id":"fb22cb68.5f70f","type":"function","z":"d1ed293e.94fbb8","name":"Save imageurl","func":"var imageurl = msg.payload.imageurl;\nmsg.payload = imageurl;\nmsg.imageurl = imageurl;\nreturn msg;","outputs":1,"noerr":0,"x":152,"y":214,"wires":[["968683ab.d42b78"]]},{"id":"968683ab.d42b78","type":"visual-recognition-v3","z":"d1ed293e.94fbb8","name":"apikey","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":290,"y":260,"wires":[["88cd8d52.32365"]]},{"id":"88cd8d52.32365","type":"function","z":"d1ed293e.94fbb8","name":"Format IBM Visual Rec result","func":"var visual_result = [];\n\n// format ibm output to be readable by multireport function\nfor(var i=0;i<msg.result.images[0].classifiers[0].classes.length;i++)\n{\n    visual_result.push({\"class\":msg.result.images[0].classifiers[0].classes[i].class, \"score\":msg.result.images[0].classifiers[0].classes[i].score, \"type\": \"IBM\"});\n}\n\n// sort from the highest score to the lowest one\nvisual_result.sort(function(a, b){return b.score - a.score});\nmsg.payload = visual_result;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":300,"wires":[["dbae9a5e.377df"]]},{"id":"dbae9a5e.377df","type":"join","z":"d1ed293e.94fbb8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":320,"wires":[["91e997fd.221388"]]}]
