tjbot/flows/control-with-telegram
[{"id":"c8d236d9.620db","type":"subflow","name":"TJBot photo","info":"","category":"TJBot","in":[{"x":60,"y":60,"wires":[{"id":"8d413d01.f19d38"}]}],"out":[{"x":940,"y":60,"wires":[{"id":"40b64555.dcc17c","port":0}]}],"icon":"node-red/camera.png"},{"id":"8d413d01.f19d38","type":"function","z":"c8d236d9.620db","name":"Take photo","func":"msg.payload = \"1545235041218\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":60,"wires":[["afcb9ce0.7898e"]]},{"id":"afcb9ce0.7898e","type":"tjbot-see","z":"c8d236d9.620db","botId":"bc1419db.a5b5c8","mode":"takephoto","verticalFlip":false,"horizontalFlip":false,"width":"","height":"","name":"","x":360,"y":60,"wires":[["52c0356.8505dcc","6e2c8c28.63b3bc"]]},{"id":"52c0356.8505dcc","type":"file in","z":"c8d236d9.620db","name":"","filename":"","format":"","chunk":false,"sendError":false,"x":490,"y":60,"wires":[["13b473be.cc0054"]]},{"id":"13b473be.cc0054","type":"change","z":"c8d236d9.620db","name":"","rules":[{"t":"set","p":"media","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":60,"wires":[["40b64555.dcc17c"]]},{"id":"40b64555.dcc17c","type":"function","z":"c8d236d9.620db","name":"F9","func":"/* Function9.js\n * Prepare message to be sent to Telegram bot\n * v 1.0\n * November 2018\n */\n\nmsg.payload = {\n  \tchatId : msg.chatId,\n  \ttype : \"photo\",\n  \tcontent : msg.payload,\n};\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":60,"wires":[["7e11faf7.4b44ac"]]},{"id":"6e2c8c28.63b3bc","type":"tjbot-shine","z":"c8d236d9.620db","botId":"bc1419db.a5b5c8","mode":"shine","color":"white","duration":"2","name":"","x":450,"y":140,"wires":[]},{"id":"7e11faf7.4b44ac","type":"tjbot-shine","z":"c8d236d9.620db","botId":"bc1419db.a5b5c8","mode":"shine","color":"off","duration":"2","name":"","x":900,"y":140,"wires":[]},{"id":"ea65a547.586248","type":"subflow","name":"TJBot Greetings","info":"","category":"TJBot","in":[{"x":50,"y":30,"wires":[{"id":"d8160f0b.bbc28"},{"id":"93dd0a11.4e6f2"}]}],"out":[]},{"id":"d8160f0b.bbc28","type":"tjbot-wave","z":"ea65a547.586248","botId":"bc1419db.a5b5c8","motion":"wave","name":"","x":370,"y":160,"wires":[]},{"id":"93dd0a11.4e6f2","type":"tjbot-shine","z":"ea65a547.586248","botId":"bc1419db.a5b5c8","mode":"pulse","color":"random","duration":"1","name":"","x":400,"y":200,"wires":[]},{"id":"e202d984.5e84","type":"subflow","name":"TJBot temperature","info":"","category":"TJBot","in":[{"x":80,"y":120,"wires":[{"id":"203a066b.602052"}]}],"out":[{"x":980,"y":280,"wires":[{"id":"e74dbda1.709868","port":0},{"id":"75735117.7d8b68","port":0},{"id":"de9e2e24.cd9048","port":0}]}],"icon":"node-red/rpi.png"},{"id":"ab8a2336.c68ba","type":"switch","z":"e202d984.5e84","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"46.6","vt":"num"},{"t":"btwn","v":"45.1","vt":"num","v2":"46.5","v2t":"num"},{"t":"lt","v":"45","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":590,"y":280,"wires":[["e74dbda1.709868","e0dbd28d.24d0f8"],["75735117.7d8b68","fece4049.49d1f8"],["de9e2e24.cd9048","61fc3f7d.5e1b8"]]},{"id":"75735117.7d8b68","type":"template","z":"e202d984.5e84","name":"Warm","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"It's warm in here! I'm at {{payload}} degrees celsius!","output":"str","x":730,"y":280,"wires":[[]]},{"id":"de9e2e24.cd9048","type":"template","z":"e202d984.5e84","name":"Normal","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"My temperature is normal, {{payload}} degrees celsius right now.","output":"str","x":740,"y":320,"wires":[[]]},{"id":"e74dbda1.709868","type":"template","z":"e202d984.5e84","name":"Overheat","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"I'm overheating! I'm at {{payload}} degrees celsius! Please turn me off!","output":"str","x":740,"y":240,"wires":[[]]},{"id":"100fbd3e.1d37d3","type":"tjbot-shine","z":"e202d984.5e84","botId":"bc1419db.a5b5c8","mode":"pulse","color":"msg.color","duration":"2","name":"","x":990,"y":420,"wires":[]},{"id":"e0dbd28d.24d0f8","type":"change","z":"e202d984.5e84","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":380,"wires":[["100fbd3e.1d37d3"]]},{"id":"fece4049.49d1f8","type":"change","z":"e202d984.5e84","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":420,"wires":[["100fbd3e.1d37d3"]]},{"id":"61fc3f7d.5e1b8","type":"change","z":"e202d984.5e84","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":460,"wires":[["100fbd3e.1d37d3"]]},{"id":"76c1233.64ea5dc","type":"change","z":"e202d984.5e84","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"[^0-9\\.]","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":180,"wires":[["ab8a2336.c68ba"]]},{"id":"ee666e13.b35b2","type":"exec","z":"e202d984.5e84","command":"vcgencmd","addpay":true,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"Get CPU Temperature","x":260,"y":180,"wires":[["76c1233.64ea5dc"],[],[]]},{"id":"203a066b.602052","type":"function","z":"e202d984.5e84","name":"Check temp","func":"msg.payload = \"1545235041218\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":120,"wires":[["ee666e13.b35b2"]]},{"id":"ad01e31b.497c2","type":"subflow","name":"Wave&Color","info":"","category":"TJBot","in":[{"x":50,"y":30,"wires":[{"id":"7c6101e5.e0a798"},{"id":"409d01f4.76eed"},{"id":"8a9f5376.d5877"}]}],"out":[],"icon":"node-red-contrib-looptimer/looptimer.png"},{"id":"7c6101e5.e0a798","type":"tjbot-shine","z":"ad01e31b.497c2","botId":"bc1419db.a5b5c8","mode":"pulse","color":"random","duration":"","name":"","x":440,"y":80,"wires":[]},{"id":"409d01f4.76eed","type":"tjbot-wave","z":"ad01e31b.497c2","botId":"bc1419db.a5b5c8","motion":"wave","name":"","x":410,"y":120,"wires":[]},{"id":"8a9f5376.d5877","type":"delay","z":"ad01e31b.497c2","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":225,"y":160,"wires":[["1f22b9c3.a863ee","7b2a7c5f.64cdc4","813a1a88.cba588"]]},{"id":"1f22b9c3.a863ee","type":"tjbot-shine","z":"ad01e31b.497c2","botId":"bc1419db.a5b5c8","mode":"shine","color":"random","duration":"","name":"","x":440,"y":180,"wires":[]},{"id":"813a1a88.cba588","type":"tjbot-wave","z":"ad01e31b.497c2","botId":"bc1419db.a5b5c8","motion":"armback","name":"","x":410,"y":220,"wires":[]},{"id":"210aaad9.6462ae","type":"tjbot-shine","z":"ad01e31b.497c2","botId":"bc1419db.a5b5c8","mode":"shine","color":"random","duration":"","name":"","x":440,"y":280,"wires":[]},{"id":"637b8fba.c9ea48","type":"tjbot-wave","z":"ad01e31b.497c2","botId":"bc1419db.a5b5c8","motion":"raisearm","name":"","x":410,"y":320,"wires":[]},{"id":"adc293fd.b02ce","type":"tjbot-shine","z":"ad01e31b.497c2","botId":"bc1419db.a5b5c8","mode":"shine","color":"random","duration":"","name":"","x":440,"y":380,"wires":[]},{"id":"a70afe4a.b3f05","type":"tjbot-wave","z":"ad01e31b.497c2","botId":"bc1419db.a5b5c8","motion":"wave","name":"","x":410,"y":420,"wires":[]},{"id":"df4dfcc5.206a6","type":"tjbot-shine","z":"ad01e31b.497c2","botId":"bc1419db.a5b5c8","mode":"shine","color":"random","duration":"","name":"","x":440,"y":480,"wires":[]},{"id":"1e002bc4.6d2624","type":"tjbot-wave","z":"ad01e31b.497c2","botId":"bc1419db.a5b5c8","motion":"lowerarm","name":"","x":410,"y":520,"wires":[]},{"id":"7b2a7c5f.64cdc4","type":"delay","z":"ad01e31b.497c2","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":225,"y":260,"wires":[["210aaad9.6462ae","200487e8.d7daf","637b8fba.c9ea48"]]},{"id":"200487e8.d7daf","type":"delay","z":"ad01e31b.497c2","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":225,"y":360,"wires":[["adc293fd.b02ce","5493f6cd.07fe98","a70afe4a.b3f05"]]},{"id":"5493f6cd.07fe98","type":"delay","z":"ad01e31b.497c2","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":225,"y":460,"wires":[["df4dfcc5.206a6","1e002bc4.6d2624","2ffef341.4f032c"]]},{"id":"8a41a694.b51548","type":"tjbot-shine","z":"ad01e31b.497c2","botId":"bc1419db.a5b5c8","mode":"shine","color":"random","duration":"","name":"","x":440,"y":580,"wires":[]},{"id":"8fe64973.f9fb28","type":"tjbot-wave","z":"ad01e31b.497c2","botId":"bc1419db.a5b5c8","motion":"wave","name":"","x":410,"y":620,"wires":[]},{"id":"2ffef341.4f032c","type":"delay","z":"ad01e31b.497c2","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":225,"y":560,"wires":[["8a41a694.b51548","8fe64973.f9fb28"]]},{"id":"b7ab80ba.a85018","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"d1c5217b.4ac458","type":"change","z":"b7ab80ba.a85018","name":"Set Motion","rules":[{"t":"set","p":"motion","pt":"msg","to":"payload.context.move","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":180,"wires":[["9a120923.220268"]]},{"id":"9a120923.220268","type":"tjbot-wave","z":"b7ab80ba.a85018","botId":"bc1419db.a5b5c8","motion":"msg.motion","name":"Move arm","x":820,"y":180,"wires":[]},{"id":"a00e4551.a2824","type":"function","z":"b7ab80ba.a85018","name":"F1","func":"/* Function1.js\n * Initialize Telegram bot messages\n * v 1.0\n * November 2018\n */\n\nmsg.chatId = msg.payload.chatId;\n//msg.user = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":360,"wires":[["ce98b59b.3b5e98"]]},{"id":"4246b432.216704","type":"telegram receiver","z":"b7ab80ba.a85018","name":"","bot":"95940fa9.ab3d08","saveDataDir":"","x":120,"y":280,"wires":[["a00e4551.a2824"],[]]},{"id":"ce98b59b.3b5e98","type":"watson-conversation-v1","z":"b7ab80ba.a85018","name":"","workspaceid":"baecb6d5-90bf-4914-a40d-5c97a23b26c5","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":220,"y":420,"wires":[["496c7415.488c14","a2d7fc88.6200a8"]]},{"id":"496c7415.488c14","type":"switch","z":"b7ab80ba.a85018","name":"","property":"payload.context.move","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":340,"wires":[["d62606f3.5b5648"],["44259643.5def88"]]},{"id":"d62606f3.5b5648","type":"switch","z":"b7ab80ba.a85018","name":"","property":"payload.context.move","propertyType":"msg","rules":[{"t":"neq","v":"disco","vt":"str"},{"t":"eq","v":"disco","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":220,"wires":[["d1c5217b.4ac458"],["d84f218d.927748"]]},{"id":"d84f218d.927748","type":"subflow:ad01e31b.497c2","z":"b7ab80ba.a85018","name":"","x":650,"y":260,"wires":[]},{"id":"44259643.5def88","type":"switch","z":"b7ab80ba.a85018","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"turn_led","vt":"str"},{"t":"eq","v":"see_color","vt":"str"},{"t":"eq","v":"greetings","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":440,"wires":[["1e59d5d6.1ba992"],["c41debf6.260c38"],["93f5476d.57f88"]]},{"id":"1e59d5d6.1ba992","type":"switch","z":"b7ab80ba.a85018","name":"","property":"payload.entities[0].entity","propertyType":"msg","rules":[{"t":"eq","v":"color","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":360,"wires":[["4e995885.cca088"]]},{"id":"4e995885.cca088","type":"change","z":"b7ab80ba.a85018","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"payload.entities[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":360,"wires":[["d6882f39.286788"]]},{"id":"d6882f39.286788","type":"tjbot-shine","z":"b7ab80ba.a85018","botId":"bc1419db.a5b5c8","mode":"shine","color":"msg.color","duration":"","name":"","x":1010,"y":360,"wires":[]},{"id":"c41debf6.260c38","type":"tjbot-see","z":"b7ab80ba.a85018","botId":"bc1419db.a5b5c8","mode":"see","verticalFlip":false,"horizontalFlip":false,"width":960,"height":720,"name":"","x":630,"y":440,"wires":[["8d1667b0.b724c"]]},{"id":"8d1667b0.b724c","type":"function","z":"b7ab80ba.a85018","name":"Identify Colors","func":"//msg.payload = msg.payload.filter(function(obj) {\nvar color = msg.payload.filter(function(obj) {\n\treturn obj.class.match(/color$/);\n}).map(function(obj) {\n\treturn obj.class.replace(/ color$/, \"\");\n});\n\nmsg.payload = msg.payload.length ? \"I see \"+color : \"I don't see any colors\";\n\ncolor[0] = color[0].replace(\" \", \"\");\n\nmsg.color = color[0];\n\nif(msg.color == \"sagegreen\") { msg.color = \"green\"; msg.error = \"y\"; }\nelse if(msg.color == \"jadegreen\") { msg.color = \"darkgreen\"; msg.error = \"y\"; }\nelse if(msg.color == \"ashgrey\") { msg.color = \"gray\"; msg.error = \"y\"; }\nelse if(msg.color == \"charcoal\") { msg.color = \"black\"; msg.error = \"y\"; }\nelse if(msg.color == \"alizarinered\") { msg.color = \"red\"; msg.error = \"y\"; }\nelse if(msg.color == \"sanguine(red)\") { msg.color = \"raspberry\"; msg.error = \"y\"; }\nelse if(msg.color == \"reddishorange\") { msg.color = \"orange\"; msg.error = \"y\"; }\nelse if(msg.color == \"coalblack\") { msg.color = \"black\"; msg.error = \"y\"; }\nelse if(msg.color == \"ultramarine\") { msg.color = \"blue\"; msg.error = \"y\"; }\nelse if(msg.color == \"paleyellow\") { msg.color = \"yellow\"; msg.error = \"y\"; }\nelse { msg.error = \"n\"; }\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":500,"wires":[["bd1db736.8c1f88","87254680.237178","66ebc0ee.6ae3e"]]},{"id":"bd1db736.8c1f88","type":"tjbot-shine","z":"b7ab80ba.a85018","botId":"bc1419db.a5b5c8","mode":"shine","color":"msg.color","duration":"2","name":"","x":950,"y":540,"wires":[]},{"id":"87254680.237178","type":"switch","z":"b7ab80ba.a85018","name":"","property":"error","propertyType":"msg","rules":[{"t":"eq","v":"n","vt":"str"},{"t":"eq","v":"y","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":460,"wires":[["53548b28.c7c2ec"],["744f7023.070da8"]]},{"id":"744f7023.070da8","type":"tjbot-wave","z":"b7ab80ba.a85018","botId":"bc1419db.a5b5c8","motion":"wave","name":"Wave arm","x":1060,"y":480,"wires":[]},{"id":"53548b28.c7c2ec","type":"tjbot-wave","z":"b7ab80ba.a85018","botId":"bc1419db.a5b5c8","motion":"lowerarm","name":"Lower arm","x":1070,"y":440,"wires":[]},{"id":"28c889ac.a98f9e","type":"debug","z":"b7ab80ba.a85018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":680,"wires":[]},{"id":"a2d7fc88.6200a8","type":"switch","z":"b7ab80ba.a85018","name":"","property":"payload.context.check","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"photo","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":700,"wires":[["6f74c475.d4ade4"],["f680c44e.84d518"]]},{"id":"6f74c475.d4ade4","type":"subflow:e202d984.5e84","z":"b7ab80ba.a85018","name":"","x":570,"y":680,"wires":[["28c889ac.a98f9e"]]},{"id":"66ebc0ee.6ae3e","type":"debug","z":"b7ab80ba.a85018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":600,"wires":[]},{"id":"93f5476d.57f88","type":"subflow:ea65a547.586248","z":"b7ab80ba.a85018","name":"TJBot Greetings","x":660,"y":560,"wires":[]},{"id":"80007062.84ee6","type":"telegram sender","z":"b7ab80ba.a85018","name":"","bot":"95940fa9.ab3d08","x":780,"y":740,"wires":[[]]},{"id":"f680c44e.84d518","type":"subflow:c8d236d9.620db","z":"b7ab80ba.a85018","name":"","x":550,"y":740,"wires":[["80007062.84ee6"]]},{"id":"bc1419db.a5b5c8","type":"tjbot-config","z":"","botGender":"female","name":"pTJBOT_T","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0","microphoneDeviceId":"plughw:1,0"},{"id":"95940fa9.ab3d08","type":"telegram bot","z":"","botname":"ControlTJBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"}]
